@using ModelBindingSamples.Models


@{
	//must be in a code block
	//calls a actionmethod from controller and returns it.
	Html.RenderAction("GetDate");
}


@*Display Instructor Information*@
			@*partial name                what you are binding to       //partial view displays with in another view*@
@Html.Partial("_DisplayInstructor", ViewData["Instructor"])

@*Display Course Information*@
@Html.Partial("_DisplayCourses", ViewData["Courses"])








@*@{
	ViewBag.Title = "Home Page";
	//Creating an Instructor Var instead of drilling down.  // could use @myInstructor.property.
	Instructor myInstructor = (Instructor)ViewData["Instructor"];
}

<p>
	Name: @(((Instructor)ViewData["Instructor"]).FullName)
</p>*@